body {
    background-color: black;
}

h1 {
    color: green;
    font-size: 70px;
}

h2 {
    color: green;
}

p {
    color: white;
}

ul {
    color: white;
}

.Dios {
    color: green;
    font-size: 50px;
}

ul {
    font-size: 25px;
}